{% extends "base.html" %}

<!-- Content block -->
{% block content %}
  <h1>
    Oops!
    <br />404 - Not found
  </h1>
  <P>You look lost. Let's head back to <a href="/" title="Back to docs home">documentation</a>.</p>
  <p>Here are some suggested pages, too:</p>
  <a href="https://bastionbot.org">Homepage</a><br>
  <a href="https://docs.bastionbot.org">Documentation</a><br>
  <a href="https://discord.gg/fzx8fkt">Discord Server</a><br>
  <a href="https://status.bastionbot.org">Bastion Status</a><br>
{% endblock %}
